In [1]:
import sum_anagram
import pandas as pd

In [2]:
num_anagrams = []

for n in range(15, 126, 5):
    
    anagram_pairs = sum_anagram.find_anagram_sum_pairs(n)
    
    # pairs (n1, n2), (m1, m2) with:
    #    * n1 <= n2, m1 <= m2
    #    * (n1, n2) != (m1, m2), and
    #    * n1 + n2 == m1 + m2 == n
    # Since we have 1 <= n1 <= n/2, we have floor(n/2) choose 2 such pairs
    #
    num_anagram_pairs = len(anagram_pairs)
    
    half_n = int(n / 2.0)
    num_possible_pairs = half_n * (half_n - 1) / 2
    
    num_anagrams.append([n, len(anagram_pairs), 100 * num_anagram_pairs / float(num_possible_pairs) ])

num_anagrams = pd.DataFrame(num_anagrams, columns=["n", "num_pairs", "pct_total_pairs"])

In [3]:
num_anagrams

      n  num_pairs  pct_total_pairs
0    15          1         4.761905
1    20          2         4.444444
2    25         10        15.151515
3    30         27        25.714286
4    35         46        33.823529
5    40         65        34.210526
6    45         88        38.095238
7    50        108        36.000000
8    55        140        39.886040
9    60        180        41.379310
10   65        226        45.564516
11   70        268        45.042017
12   75        323        48.498498
13   80        385        49.358974
14   85        454        52.729384
15   90        518        52.323232
16   95        596        55.134135
17  100        680        55.510204
18  105        772        58.220211
19  110        858        57.777778
20  115        973        60.964912
21  120       1105        62.429379
22  125       1274        67.371761

In [2]:
len(sum_anagram.find_anagram_sum_pairs(15))

1

In [6]:
sum_anagram.find_pairs(17)

[(1, 16), (2, 15), (3, 14), (4, 13), (5, 12), (6, 11), (7, 10), (8, 9)]

In [7]:
3/2

1.5

In [8]:
3 // 2

1

In [10]:
int(17 / 2)

8